* {
  box-sizing: border-box;
}


/* @media (min-width: 440px) {
   img {
    width: 100%;
   }
} */

.landing {
  position: relative;
  background: url('../src/img/FitNFine.jpg') no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color:  rgba(74, 68, 62, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  color: white;
}

form {
  width: 40%;
  margin: auto;
}

